body{
   background-color: rgba(220, 178, 177, 0.15)
}

.bloco{
   width: 460px;
   margin: auto;
   margin-top: 200px;
   margin-bottom: 20px;
}

.t1{
   margin: auto;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 27px;
}
.t2{
   margin: auto;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 35px;
}

.btn1{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding: 10px 30px;
   color: black;
   background-color: rgba(217, 157, 156, 0.4);
   border: none;
   font-size: 20px;
   line-height: 20px;
   letter-spacing: .1em;
   font-weight: bold;
   text-transform: uppercase;
   display: block;
   margin-top: 50px;
   width: 100%;
   height: 60px;
}

.btn2{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding: 10px 30px;
   color: black;
   background-color: rgba(156, 220, 222, 0.4);
   font-size: 20px;
   line-height: 20px;
   letter-spacing: .1em;
   font-weight: bold;
   text-transform: uppercase;
   display: block;
   margin-top: 50px;
   width: 100%;
   height: 60px;
   border: none;

}

.btn3{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   padding: 10px 30px;
   color: black;
   background-color: white;
   border: 2px solid rgb(0, 0, 0);
   font-size: 20px;
   line-height: 20px;
   letter-spacing: .1em;
   font-weight: bold;
   text-transform: uppercase;
   display: block;
   margin-top: 50px;
   width: 100%;
   height: 60px;

}

.btn3:hover {
  background-color: black;
  color: white;
}